 <% @posts.each do |post| %>
 <div class="container mt-5">
  <div class="row justify-content-between m-auto border border-dark mb-1">
  <%= link_to user_post_path(@user,post.id), class:"text-decoration-none text-dark"  do%>
    <h2><%= post.title  %></h2>
  <%end%>
    <p><%= truncate(post.text, length: 20) %></p>
    <span class="d-flex justify-content-end">Comments: <%= post.commentscounter %>,Likes: <%= post.likescounter %></span>
  </div>
  <% post.comments.all.each do |comment| %>
   <div class="row justify-content-between m-auto border border-dark mb-3">
   <p><%= comment.author.name %>: <%= comment.text %></p>
   </div>
   <% end %>
    </div>
  <% end %>
